.container {
    padding-top: 10px;
}

.counter-wrapp {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.counter-wrapp .box {
    margin-bottom: 0;
    text-align: center;
    width: 48%;
}

.counter-wrapp .box .heading {
    margin-bottom: 3px;
    font-weight: bold;
    background-color: #d0ebff;
}

.counter-inputs {
    display: flex;
    gap: 5px;    
}

.counter-inputs .input {
    /* max-width: 50px; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-plus {
    background-color: #40c057;
}
.button-minus {
    background-color: #fa5252;
}

.total {
    background-color: #a5d8ff;
    width: 95%;
    margin: 20px auto;
}

.total .title {
    margin-bottom: 10px;
    text-align: center;
}

.total-wrapp {
    display: flex;
    justify-content: space-between;
}
.total-wrapp__column {}
.total-item {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}
.total-item-size {
    font-size: 25px;
    font-weight: 500;
}

.logs {
    background-color: #f1f3f5;
    width: 95%;
    margin: 20px auto;
}

.logs-content {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 250px;
}